body {
    font-style: italic;
    font-display: fallback; 
    text-indent: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 46, 63);
    color: #fff;
    overflow: scroll;
}

header {
    background-color: #291f1f;
    padding: 0px;
    text-align: center;
    color: chartreuse;
    font-family: 'castellar', sans-serif;
    font-size: 5px;
}

footer {
    background-color: #082e4d;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    align-content: flex-end;
}

 developer-info {
    color: #300505;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    overflow: auto;
    max-height: 200px;
    table-layout: auto;
    margin-left: 0%;
}
  
caption {
    font-weight: bold;
}
head  {
    text-align: center;
}